<header>
  <nav class="container">
    <div class="logo-container">
      <h1 style="color: var(--light);">EventCraft</h1>
    </div>
    <ul class="nav-links" id="menu">
      <li><a [routerLink]="'/'">Dashboard</a></li>
      <li><a [routerLink]="'/band'">Band</a></li>
      <li><a [routerLink]="'/hall'">Hall</a></li>
      <li><a [routerLink]="'/catering'">Catering</a></li>
     
     
    </ul>
    <a href="#menu" class="menu-btn">
      <svg style="width:30px;height:30px;fill:var(--light)" viewBox="0 0 24 24">
        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
      </svg>
    </a>
  </nav>
</header>